<div class="container">
  <h2>Добавление вопроса</h2>
  <div class="form-floating">
    <h5>Вопрос</h5>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 70px"
      style="width: 70%"
    ></textarea>
    <label for="floatingTextarea2"></label>
  </div>
  <div class="form-floating">
    <h5>А:Ответ</h5>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 50px"
      style="width: 70%"
    ></textarea>
    <label for="floatingTextarea2"></label>
  </div>
  <div class="form-floating">
    <h5>В: Ответ</h5>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 50px"
      style="width: 70%"
    ></textarea>
    <label for="floatingTextarea2"></label>
  </div>
  <div class="form-floating">
    <h5>С: Ответ</h5>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 50px"
      style="width: 70%"
    ></textarea>
    <label for="floatingTextarea2"></label>
  </div>
  <div class="form-floating">
    <h5>Д: Ответ</h5>
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 50px"
      style="width: 70%"
    ></textarea>
    <label for="floatingTextarea2"></label>
  </div>
  <div class="form-floating">
    <h5>Правильный ответ</h5>
    <select
      class="form-select"
      id="floatingSelect"
      style="height: 50px"
      style="width: 20%"
      aria-label="Floating label select example"
    >
      <option selected></option>
      <option value="1">A</option>
      <option value="2">В</option>
      <option value="3">С</option>
      <option value="4">Д</option>
    </select>
    <label for="floatingSelect"></label>
  </div>

  <button class="btn btn-primary" type="submit">save</button>
  <button class="btn btn-danger" type="submit">cancel</button>
</div>
