.container {
  max-width: 1000px;
  // display: flex;
}
.card {
  max-width: 800px;
  margin: 0 auto;
}
li {
  list-style-type: upper-alpha;
  cursor: pointer;
  margin: 10px 0;
}
li .card:hover {
  border: 1px solid blue;
}
.header__test {
  display: flex;
  justify-content: space-evenly;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn-secondary {
  margin-left: 2%;
}
