<div class="container mt-5">
  <div class="card">
    <div class="header__test">
      <h3>Welcome, {{ name }}!</h3>
      <span class="timer">Осталось: 15 мин</span>
    </div>
    <br />
    <div class="question">
      <div class="card">
        <h3>{{ questionList[currentQuestion]?.questionText }}</h3>
      </div>
    </div>
    <div class="options">
      <ol *ngFor="let option of questionList[currentQuestion]?.options">
        <li>
          <div class="card">{{ option.text }}</div>
        </li>
      </ol>
    </div>
    <div class="btns">
      <button class="btn btn-secondary" (click)="previousQuestion()">
        <i class="fa fa-chevron-circle-left" aria-hidden="true">назад</i>
      </button>
      <button class="btn btn-secondary">обновить</button>
      <button class="btn btn-secondary" (click)="nextQuestion()">
        <i class="fa fa-chevron-circle-right" aria-hidden="true">вперед</i>
      </button>
    </div>
    <br />
    <div class="btn">
      <button class="btn btn-primary" type="submit" (click)="finishTest()">
        Закончить тестирование
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
