<div class="container">
  <h6>1. Вопрос 1+1?</h6>
  <br />
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1"> 11 </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault2"
      checked
    />
    <label class="form-check-label" for="flexRadioDefault2"> 3 </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault3"> 2 </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault2"
      checked
    />
    <label class="form-check-label" for="flexRadioDefault4"> "11" </label>
  </div>
  <br />
  <div class="btns">
    <button class="btn btn-secondary btn-sm">Назад</button>
    <button class="btn btn-secondary btn-sm">Далее</button>
  </div>
  <br />
  <button class="btn btn-primary" type="submit" (click)="finishTest()">
    Закончить тестирование
  </button>
</div>
