<div class="container">
  <div class="main">
    <h2>Вопросы</h2>
    <div class="header">
      <input type="search" name="search" id="search" />
      <button class="btn btn-primary">Искать</button>
      <button class="btn btn-primary" (click)="addQuestion()">
        Добавить вопрос
      </button>
    </div>
    <div class="table">
      <table class="table table-striped">
        <tbody class="table-striped">
          <tr>
            <td colspan="2">Название</td>
            <td>Создано</td>
          </tr>
          <tr>
            <td colspan="2">Вопрос 1</td>
            <td>Дата создания</td>
          </tr>
          <tr>
            <td colspan="2">Вопрос 2</td>
            <td>Дата создания</td>
          </tr>
          <tr>
            <td colspan="2">Вопрос 3</td>
            <td>Дата создания</td>
          </tr>
          <tr>
            <td colspan="2">Вопрос 4</td>
            <td>Дата создания</td>
          </tr>
          <tr>
            <td colspan="2">Вопрос 5</td>
            <td>Дата создания</td>
          </tr>
          <tr>
            <td colspan="2">Вопрос 6</td>
            <td>Дата создания</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
